@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-color: #d7f8ff;
  --red-text-color: #540000;
  --button-border-color: #2f528f;
}

body {
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

#welcome-title {
  font-size: 12vmin;
  color: var(--red-text-color);
  margin: 0;
}

#logo {
  width: 60vmin;
}

#welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-page-button {
  font-size: 4vmin;
  margin: 5vmin;
  padding: 2vmin;
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: var(--button-border-color);
}

#welcome-message {
  font-size: 6vmin;
  margin: 1vmin;
  color: var(--red-text-color);
}
