@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-color: #d7f8ff;
  --red-text-color: #540000;
  --button-border-color: #2f528f;
  font-size: 25px;
}

body {
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

/* Welcome Page */
#welcome-title {
  font-size: 12vmin;
  color: var(--red-text-color);
  margin: 0;
}

#welcome-logo {
  width: 60vmin;
}

#welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-page-button {
  font-size: 4vmin;
  margin: 5vmin;
  padding: 2vmin;
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: var(--button-border-color);
}

#welcome-message {
  font-size: 6vmin;
  margin: 1vmin;
  color: var(--red-text-color);
}

/* ----------------------------- */

/* Header for sim and info page */
header {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.page-button {
  font-size: 1rem;
  margin: 0 auto 0 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: var(--button-border-color);
}

.logo {
  margin: 0 1rem 0 auto;
}

.logo > img {
  width: 4rem;
}

header > h1 {
  font-size: 4rem;
  color: var(--red-text-color);
  margin: 0;
}

/* ----------------------------- */

/* Sim Page */
#canvases {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canvas-container {
  /* background-color: white; */
  /* border-style: solid;
  border-color: black; */
  width: 100%;
  height: 13rem;
  margin: 0 1rem 0.5rem 1rem;
  /* padding: 0; */
}

#below-canvases {
  display: flex;
  align-items: flex-start;
  margin: 0 1rem 0 1rem;
}

#sim-controls {
  text-align: left;
  margin-right: 2rem;
}

.sim-button {
  font-family: inherit;
  font-size: 1rem;
  background: white;
  border-style: solid;
  border-color: var(--button-border-color);
  border-width: 0.1rem;
  padding: 0.5rem;
}

#speed-slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#key {
  width: 40%;
  text-align: center;
}

#key > ul {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#key > ul > li {
  padding: 0 0.5rem 0 0.5rem;
  white-space: nowrap;
}

#key > ul > li > input {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 25%;
}

#save-graph-button {
  margin-left: auto;
}

#parameters > ul {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#parameters > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 1.7rem;
  margin: 0;
  padding: 0;
}

/* ----------------------------- */

/* Info Page */

#info-page {
  text-align: left;
  line-height: 1.5;
  margin: 0 5rem;
}
